.login-layout {
  display: grid;
  grid-template-columns: 1fr 1.35fr;
  gap: 30px;
  align-items: center;
}

.login-forms {
  max-width: 700px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .login-layout {
    grid-template-columns: 1fr 1fr;
    align-self: initial;
    gap: 20px;
  }
}

@media (max-width: 992px) {
  .login-layout {
    grid-template-columns: 1fr;
  }

  .login-layout img {
    display: none;
  }

  .login-forms {
    max-width: 100%;
  }
}
