.password-message {
  max-width: 500px;
  margin-top: 24px;
  padding: 16px 20px 16px 48px;
  border: 1px solid var(--green-4);
  border-radius: var(--md-border);
  color: var(--green-2);
  background-color: var(--green-3);
  line-height: 1.5;
  position: relative;
}

.password-message::before {
  content: '\2713';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--green);
  display: grid;
  place-items: center;
  font-weight: 700;
  position: absolute;
  top: 16px;
  left: 16px;
}
