:root {
  /* Famílias de fontes */
  --primary-font: Helvetica, Arial, sans-serif;
  --secondary-font: 'Spectral', Georgia, serif;

  /* Estilos com fonte primária */
  --primary-sm: 400 0.875rem/1.4 var(--primary-font);
  --primary-md: 400 1rem/1.5 var(--primary-font);
  --primary-lg: 500 1.125rem/1.4 var(--primary-font);
  --primary-xl: 600 1.5rem/1.25 var(--primary-font);

  /* Estilos com fonte secundária */
  --secondary-sm: 400 1rem/1.5 var(--secondary-font);
  --secondary-md: 600 1.5rem/1.3 var(--secondary-font);
  --secondary-lg: 700 2rem/1.2 var(--secondary-font);
  --secondary-xl: 700 3rem/1.1 var(--secondary-font);

  /* Paleta de Cores */
  --white: #fff;
  --black: #333;
  --grey: #eee;
  --grey-2: #555;
  --red: #f31;
  --green: #3a8f3a;
  --green-2: #245c24;
  --green-3: #effaef;
  --green-4: #b8dfb8;
  --primary-1: #fb1;
  --primary-2: #764701;
  --primary-3: #fea;
  --primary-hover: #f0b113;

  /* Bordas */
  --sm-border: 5px;
  --md-border: 10px;
  --lg-border: 15px;
  --xl-border: 20px;
}
