.user-header-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.user-header-nav a,
.user-header-nav button {
  background-color: var(--grey);
  border-radius: var(--sm-border);
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.3s;
}

.user-header-nav a:hover,
.user-header-nav button:hover,
.user-header-nav a:focus-visible,
.user-header-nav button:focus-visible {
  background-color: var(--white);
  box-shadow: 0 0 0 2px var(--grey);
  border-color: var(--black);
  outline: none;
}

.user-header-nav a.active {
  background-color: var(--white);
  box-shadow: 0 0 0 2px var(--primary-3);
  border-color: var(--primary-1);
  outline: none !important;
}
